@import "../../styles/main";

.plantsWrapper {
  .card,
  .card-img,
  .card-img-top {
    border-radius: 0 !important;
  }

  .card-img-top {
    max-height: 270px !important;
    height: 270px !important;
  }

  .card-title {
    font-family: $font-primary;
    font-weight: 600;
  }

  .card-text {
    font-size: 17px;
    color: #6c757d;
  }
}
